@import url(/css/background.css);
@import url(/css/header.css);
@import url(/css/main.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
:root {
    --color-text: #EDF1F7;
    --color-red: #C51212;
    --color-blue: #0041C2;
    --color-green: #14B02D;
    --color-yellow: #ffc12b;
}
  
body, button, a {
    color: var(--color-text);
    font: 400 1rem "Mukta", sans-serif;
}
  
a {
    text-decoration: none;
}
  
button:hover {
    cursor: pointer;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Para navegadores baseados em Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Para garantir o comportamento correto */
  html, body {
    overflow: hidden; /* Para ocultar barras de rolagem */
    overflow-y: scroll; /* Mantém a rolagem funcional no eixo Y */
  }
  
